<article class="group relative flex flex-col items-start">
    <h2 class="text-base font-display font-semibold tracking-tight text-base-800 dark:text-base-100">
        <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-base-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-base-800/50"></div>
        <a href="@Post.Url">
            <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
            <span class="relative z-10">@Post.FrontMatter.Title</span>
        </a>
    </h2>

    <time class="relative z-10 order-first mb-3 flex items-center text-sm text-base-400 dark:text-base-500 pl-4" datetime="@(Post.FrontMatter.Date?.ToString("yyyy-MM-dd"))">
        <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
            <span class="h-4 w-0.5 rounded-full bg-primary-200 dark:bg-primary-500"></span>
        </span>
        @(Post.FrontMatter.Date?.ToString("MMMM d, yyyy"))
    </time>

    @if (!string.IsNullOrEmpty(Post.FrontMatter.Description))
    {
        <p class="relative z-10 mt-2 text-sm text-base-600 dark:text-base-400">@Post.FrontMatter.Description</p>
    }
    <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-primary-500">
        Read article
        <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current">
            <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </div>
</article>

@code {
    [Parameter, EditorRequired] public required BlogPostPage Post { get; set; }
}
