@page "/"
@page "/{fileName:nonfile}"
@inject PenningtonOptions PenningtonOptions
@inject ContentHelper ContentHelper

@if (_html == null || _frontMatter == null)
{
    <PageTitle>@PenningtonOptions.SiteTitle</PageTitle>
    <p>Content not found</p>
    return;
}
<PageTitle>@PenningtonOptions.SiteTitle - @_frontMatter.Title</PageTitle>
<article>
    <header>
        Content
        <h1 class="text-4xl font-bold"> @_frontMatter.Title</h1>
    </header>

    <div class="prose max-w-full">
        @((MarkupString)_html)
    </div>
</article>

@code {
    private ContentFrontMatter? _frontMatter;
    private string? _html;

    [Parameter] public required string FileName { get; init; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var url = string.IsNullOrWhiteSpace(FileName) ? "/" : FileName;
        var page = await ContentHelper.GetRenderedPageAsync<ContentFrontMatter>(url);
        if (page == null)
        {
            return;
        }

        _frontMatter = page.FrontMatter;
        _html = page.Html;
    }
}
