@using System.Collections.Immutable
@using Pennington.Navigation
@using Pennington.Routing

@if (TableOfContents != null)
{
    <nav>
        <ul class="flex flex-col @ListGapClass">
            @foreach (var tableOfContentEntry in TableOfContents.OrderBy(i => i.Order))
            {
                @TocEntry(tableOfContentEntry)
            }
        </ul>
    </nav>
}

@code {
    [Parameter] public ImmutableList<NavigationTreeItem>? TableOfContents { get; set; }
    [Parameter] public string? Section { get; set; }
    [Parameter] public string ListGapClass { get; set; } = "gap-4";
    [Parameter] public string ChildListClass { get; set; } = "mt-4";
    [Parameter] public string SectionHeaderStructureClass { get; set; } = "font-display font-medium first:pt-0";
    [Parameter] public string SectionHeaderColorClass { get; set; } = "text-base-900 dark:text-base-50";
    [Parameter] public string LinkStructureClass { get; set; } = "block text-sm w-full border-l pl-3.5 py-1.5";
    [Parameter] public string LinkColorClass { get; set; } = "transition-colors transition-300 border-base-300 dark:border-base-800 data-[current=true]:border-primary-400 text-base-500 dark:text-base-400 data-[current=true]:text-primary-800 dark:data-[current=true]:text-primary-500 hover:text-accent-400 dark:hover:text-base-50";
    [Parameter] public string RootLinkStructureClass { get; set; } = "block w-full py-1";
    [Parameter] public string RootLinkColorClass { get; set; } = "transition-colors transition-300 text-base-700 dark:text-base-400 data-[current=true]:text-primary-800 dark:data-[current=true]:text-primary-500 hover:text-accent-400 dark:hover:text-base-50";


    private RenderFragment TocEntry(NavigationTreeItem tocEntry) =>
        @<li class="block">
            @if (tocEntry.Route.CanonicalPath.Value == "")
            {
                <div class="@SectionHeaderStructureClass @SectionHeaderColorClass">@tocEntry.Title</div>
            }
            else
            {
                <a data-current="@tocEntry.IsSelected.ToString().ToLowerInvariant()" href="@tocEntry.Route.CanonicalPath.Value" class="@(tocEntry.Children.Count == 0 ? RootLinkStructureClass + " " + RootLinkColorClass : SectionHeaderStructureClass + " " + SectionHeaderColorClass)">@tocEntry.Title</a>
            }
            @if (tocEntry.Children.Count > 0)
            {
                <ul class="@ChildListClass">
                    @foreach (var childEntry in tocEntry.Children.OrderBy(i => i.Order).Where(i => i.Route.CanonicalPath.Value != ""))
                    {
                        <li class="block">
                            <a data-current="@childEntry.IsSelected.ToString().ToLowerInvariant()" href="@childEntry.Route.CanonicalPath.Value" class="@LinkStructureClass @LinkColorClass">@childEntry.Title</a>
                        </li>
                    }
                </ul>
            }
        </li>;
}
